/*
 * Body stylizing.
 */
body {
    background-color: #081324;
}

/*
 * Properly stylizing the star system.
 */
.center-point {
    /* border: 1px solid white;
    border-radius: 100%; */

    /*
     * Defining dimensions.
     */
    width: 30px;
    aspect-ratio: 1/1;

    /*
     * Positioning the star-wrapper to the center of the screen.
     */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orbit {
    /* 
     * Default size of the orbit.
     */
    width: 100%;
    aspect-ratio: 1/1;

    /*
     * Positioning.
     */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;


    /*
     * Animating the star system orbit.
     */
    animation: orbit 15s linear 0.1s infinite forwards;
}

.star {
    border-radius: 100%;

    /*
     * Defining definitions.
     */
    width: 50px;
    aspect-ratio: 1/1;

    /*
     * Setting up positioning, most will be defined
     * through jQuery (see starSystems.js).
     */
    position: absolute;
}

/*
 * Very simple orbit animation.
 */
@keyframes orbit {
    100% {transform: rotate(360deg);}
}

/*
 * Goku!
 */

 #goku {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
 }